
* {
    font-family: Helvetica, Arial, sans-serif;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

/* ---Header Styling - View Score Option and Time Display--- */
header {
    display: flex;
    height: 100px;
    justify-items: center;

    background-color: honeydew;
}

.score_view, #time_display {
    background-color: #fff;
}

/* ---Quiz Styling - Prompt and Responses--- */
#game_display {
    width: 40%;
    min-width: fit-content;

    margin: 0 auto;
}

.response_box {
    padding: 0;
}

.response_bubble {
    all: unset;
    display: block;

    background-color: aliceblue;
    
    padding: 20px;
    margin: 5px auto;
}

.response_bubble:hover {
    background-color: cornflowerblue;
}